@font-face {
  font-family: 'Rubik Glitch';
  src: url('../../assets/fonts/RubikGlitch-Regular.ttf')
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
}

svg {
 width: 20px;
 height: 20px;
 fill: #fff;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, min-content);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
}

.sidebar{
  grid-column: 1;
  grid-row: 1 / -1;
  background-color: #3827F5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  padding: 20px 30px;
  color: #fff;
}

.sidebar__logo {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.sidebar__logo h1 {
  font-size: 1.5rem;
}

.sidebar__logo svg {
  min-width: 35px;
  width: 35px;
  height: 35px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 0;
}

.sidebar li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.sidebar a {
  color: #fff;
}

.header {
  grid-column: 2 / -1;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, min-content);
  gap: 20px;
  background-color: #fff;
  padding: 20px 30px;
  box-shadow: 0px 9px 6px -2px #7E7EbE;
  z-index: 2;
  align-items: center;
}

.header .search {
  grid-column: 1 / 4;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  height: fit-content;
}

.header .search button {
  background-color: transparent;
  border: none;
}

.header .search button svg {
  width: 30px;
  height: 30px;
  fill: #6f6f6f;
}

.header .search input {
  background-color: #dfdfdf;
  border: none;
  border-radius: 20px;
  width: 100%;
  font-size: 1rem;
  padding: 5px 20px;
  color: #000;
}

.header .user {
  grid-column: 4 / -1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  height: fit-content;
}

.header .user svg {
  width: 30px;
  height: 30px;
  fill: #6f6f6f;
}

.header .user img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.header .user p {
  font-size: 1.4rem;
  font-weight: 600;
}

.header .welcome {
  grid-column: 1 / 4;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  height: fit-content;
}

.header .welcome__text {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.header .welcome__greeting {
  font-size: 1.1rem;
  font-weight: 600;
}

.header .welcome__username {
  font-size: 1.5rem;
  font-weight: 600;
}

.header .welcome img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.header .actions {
  grid-column: 4 / -1;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
  height: fit-content;
}

.header .btn {
  border: none;
  border-radius: 30px;
  background-color: #3827F5;
  color: #fff;
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: 600;
}

.dashboard {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  background-color: #dfdfff;
  z-index: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  justify-items: stretch;
  gap: 20px;
}

.dashboard .projects {
  grid-column: 1 / 10;
  grid-row: 1 / 13;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  height: 100%;
}

.dashboard .project__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: stretch;
  gap: 20px;
  height: 100%;
}

.dashboard .card {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  box-shadow: 5px 6px 0px rgba(0,0,0,0.44);
}

.dashboard .card::before {
  content: '';
  background-color: rgb(225, 225, 53);
  position: absolute;
  z-index: 3;
  width: 15px;
  height: 100%;
  top: 0;
  left: 0;
}

.dashboard .card__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dashboard .card__text h3 {
  font-size: 1.1rem;
}

.dashboard .card__text p {
  color: #6f6f6f;
  font-size: 0.9rem;;
}

.dashboard .card__info {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.dashboard .card__info svg {
  width: 20px;
  height: 20px;
  fill: #000;
}

.dashboard .announcements {
  grid-column: 10 / 13;
  grid-row: 1 / 7;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard .announcements__content {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 5px 6px 0px #7E7EbE;
}

.dashboard .announcements__content div:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.dashboard .announcements__item {
  padding-bottom: 10px;
  border-bottom: 1px solid #6f6f6f;
}

.dashboard .announcements__item h4 {
  font-size: 1rem;
}

.dashboard .announcements__item p {
  font-size: 0.8rem;
  color: #6f6f6f;
}

.dashboard .trending {
  grid-column: 10 / 13;
  grid-row: 7 / 13;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.dashboard .trending__content {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  box-shadow: 5px 6px 0px #7E7EbE;
}

.dashboard .trending__item {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.dashboard .trending__item img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.dashboard .trending__item .item__text {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.dashboard .trending__item .item__text h6 {
  font-size: 1rem;
  font-weight: 400;
}

.dashboard .trending__item .item__text p {
  font-size: 0.9rem;
  color: #6f6f6f;
}

.home-btn {
  position: fixed;
  top: 80%;
  transform: translateY(-80%);
  transition: all 0.3s ease;
  z-index: 1000;
}

.home-btn button {
  border: none;
  padding-left: 10px;
  background-color: transparent;
  cursor: pointer;
}

.home-btn button p {
  font-family: 'Rubik Glitch', sans-serif;
  font-size: 16px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ddd;
}

.home-btn button p span {
  position: relative;
  top: 0;
  left: -3px;
}

.home-btn:hover {
  transform: scale(1.05) translateY(-50%);
}

.home-btn:hover button p span:first-child {
  top: 0;
  left: -8px;
  transition: all 0.3s ease;
}

.home-btn:hover button p span:last-child {
  top: 0;
  left: -8px;
  transition: all 0.8s ease;
}