@font-face {
  font-family: 'Chewy';
  src: url('../../assets/fonts/Chewy-Regular.ttf')
}

@font-face {
  font-family: 'Rubik Glitch';
  src: url('../../assets/fonts/RubikGlitch-Regular.ttf')
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    border: none;
    font-size: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    padding: 30px;
    width: 100vw;
    height: 100vh;
    background-color: #d0d7d0;
    font-family: 'Chewy', sans-serif;
}

.hero {
    width: 100%;
    padding: 0 30px 30px;
    border-bottom: 2px solid #a0a7a0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: #a44c40;
    font-size: 70px;
}

.game {
    width: 100%;
    height: 100%;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.choice {
    width: 100%;
    display: grid;
    align-items: center;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
}

.subtitle {
    grid-column: 1 / -1;
    font-size: 60px;
    color: #c44c40;
}

.choice button {
    padding: 0;
    background-color: transparent;
    font-size: 100px;
}

.result {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.result p {
    font-size: 40px;
    color: #663;
}

p.result__round-number {
    font-size: 50px;
    color: #466;
}

p.result__winner {
    font-size: 50px;
    color: #488;
}

p.result__loser {
    font-size: 50px;
    color: #b44;
}

p.result__default {
    font-size: 50px;
    color: #663;
}

.restart {
    width: 100%;
    height: fit-content;
}

.restart button {
    height: 100%;
    width: 25%;
    padding: 10px;
    border-radius: 40px;
    font-size: 30px;
    font-family: 'Chewy', sans-serif;
    background-color: #863;
    color: #acf;
}

.home-btn {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  z-index: 1000;
}

.home-btn button {
  border: none;
  padding-left: 10px;
  background-color: transparent;
  cursor: pointer;
}

.home-btn button p {
  font-family: 'Rubik Glitch', sans-serif;
  font-size: 16px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home-btn button p span {
  position: relative;
  top: 0;
  left: -3px;
}

.home-btn:hover {
  transform: scale(1.05) translateY(-50%);
}

.home-btn:hover button p span:first-child {
  top: 0;
  left: -8px;
  transition: all 0.3s ease;
}

.home-btn:hover button p span:last-child {
  top: 0;
  left: -8px;
  transition: all 0.8s ease;
}