@font-face {
  font-family: 'Caesar Dressing';
  src: url('../../assets/fonts/CaesarDressing-Regular.ttf');
}

@font-face {
  font-family: 'Rubik Glitch';
  src: url('../../assets/fonts/RubikGlitch-Regular.ttf')
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.hero {
  background: url("./hero.jpg") center no-repeat;
  background-size: cover;
  width: 40%;
  position: relative;
}

.title {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  position: relative;
  top: 20%;
}

h1 {
  font-size: 60px;
  color: #cfcfc0;
  font-family: "Caesar Dressing", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  background: #efefef;
}

.text {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text p {
  font-size: 16px;
}

.text a {
  text-decoration: none;
  color: #950;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

h2,
h3,
h4 {
  font-size: 24px;
}

.italic {
  font-style: italic;
}

.fields {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 30%);
  column-gap: 50px;
  row-gap: 20px;
  background-color: #fafafa;
  width: 100%;
}

.fields h4 {
  grid-column: 1 / 3;
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  text-transform: uppercase;
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 600;
}

.field input {
  border: 1px solid #afafaf;
  border-radius: 3px;
  padding: 5px;
}

.field input::placeholder {
  color: #bfbfbf;
  font-size: 16px;
}

.field input[type=password] {
  border: 1px solid #c00;
}

.container button {
  padding: 10px 30px;
  background-color: #950;
  border: none;
  border-radius: 10px;
  color: #fafafa;
  font-weight: 600;
  font-size: 16px;
  margin-left: 30px;
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.25);
}

.home-btn {
  position: fixed;
  top: 10%;
  transform: translateY(-10%);
  transition: all 0.3s ease;
  z-index: 1000;
  padding: 5px 10px;
  border-radius: 10px;
}

.home-btn button {
  border: none;
  padding-left: 10px;
  background-color: transparent;
  cursor: pointer;
}

.home-btn button p {
  font-family: 'Rubik Glitch', sans-serif;
  font-size: 16px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ddd;
}

.home-btn button p span {
  position: relative;
  top: 0;
  left: -3px;
}

.home-btn:hover {
  transform: scale(1.05) translateY(-50%);
  box-shadow: 0px 0px 15px 13px rgba(0,0,0,0.3);
}

.home-btn:hover button p span:first-child {
  top: 0;
  left: -8px;
  transition: all 0.3s ease;
}

.home-btn:hover button p span:last-child {
  top: 0;
  left: -8px;
  transition: all 0.8s ease;
}